.featured {
  padding: 80px 0;
  overflow: hidden;

  @include container;

  &__heading {
    width: 100%;
    margin-bottom: 20px;
    font-weight: 600;
    text-transform: capitalize;

    @include view(tablet) {
      font-size: 30px;
    }
  }

  &__cards-wrapper {
    display: flex;
    overflow-x: auto;
    column-gap: 10px;
  }
}
