.featured {
  padding: 80px 0;
  overflow: hidden;

  @include container;

  &__heading {
    width: 100%;
    margin-bottom: 20px;
    font-weight: 600;

    @include view(tablet) {
      font-size: 30px;
    }
  }

  &__cards-wrapper {
    display: flex;
    overflow-x: auto;
  }

  &__card {
    width: 150px;
    margin-right: 10px;
    flex-shrink: 0;

    @include view(tablet) {
      width: 200px;
    }

    @include view(desktop) {
      width: 300px;
    }
  }

  &__name {
    font-size: 14px;
    font-weight: 600;
  }

  &__old-price {
    color: $grey;
    text-decoration: line-through;
    margin-right: 10px;
  }
}
