.cart {
  padding-top: 50px;
  padding-bottom: 50px;

  @include container;

  &__h1 {
    margin-bottom: 30px;
    color: $dark-grey;
    font-weight: 400;
    font-size: 24px;
  }

  &__items-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
  }

  &__item {
    display: flex;
    align-items: start;
    gap: 20px;
    margin-bottom: 30px;
    width: 100%;

    @include view(tablet) {
      width: 47%;
    }
  }

  &__item-img {
    width: 150px;
    height: 200px;
    object-fit: cover;
  }

  &__p {
    color: $dark-grey;
    margin-bottom: 10px;
    font-size: 14px;
  }

  &__h2 {
    font-size: 18px;
    font-weight: 500;
  }

  &__price-wrapper {
    color: $blue;
  }

  &__delete-icon {
    color: $red;
    font-size: 30px;
    cursor: pointer;
  }

  &__summary {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;

    @include view(tablet) {
      max-width: 40%;
    }

    @include view(desktop) {
      max-width: 22%;
    }
  }

  &__checkout-btn {
    width: 250px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 16px;
    cursor: pointer;
    border: none;
    background-color: $orange;
    color: $white;
    font-weight: 500;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    @include view(tablet) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__remove-btn {
    color: $red;
    font-size: 12px;
    cursor: pointer;
  }

  &__error {
    color: $red;
  }

  &__reset {
    color: $red;
    font-size: 12px;
    cursor: pointer;
  }
}
