.categories {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: end;
  object-fit: contain;

  @include view(desktop) {
    @include container;
  }

  &__bgc-image {
    height: 350px;
    object-fit: cover;

    @include view(tablet) {
      height: auto;
    }
  }

  &__text-wrapper {
    position: absolute;
    top: 10px;
    left: 5px;
    padding: 15px 0 0 15px;
    color: $white;

    @include view(tablet) {
      top: 100px;
      padding-left: 50px;
    }

    @include view(desktop) {
      top: 100px;
      padding-left: 100px;
    }
  }

  &__heading {
    font-size: 25px;
    font-weight: bold;

    @include view(tablet) {
      font-size: 40px;
    }

    @include view(desktop) {
      font-size: 80px;
    }
  }

  &__text {
    font-size: 14px;
    margin-bottom: 30px;

    @include view(tablet) {
      font-size: 20px;
    }

    @include view(desktop) {
      font-size: 30px;
      margin-bottom: 40px;
    }
  }

  &__linK {
    background-color: $grey;
    color: #000;
    padding: 10px 20px;
    border-radius: 125px;
    font-size: 14px;
    font-weight: bold;

    @include view(tablet) {
      font-size: 20px;
    }

    @include view(desktop) {
      font-size: 30px;
      padding: 10px 20px;
      &:hover {
        background-color: lighten($color: $grey, $amount: 10%);
      }
    }
  }

  &__cards-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -80px;

    @include view(tablet) {
      flex-direction: row;
      padding: 5px 50px 5px 50px;
      margin-top: -150px;
    }

    @include view(desktop) {
      margin-top: -200px;
    }
  }

  &__card {
    position: relative;
    width: 90%;
    margin-bottom: 20px;

    @include view(tablet) {
      margin: 10px;
      border: 2px solid $white;
    }

    @include view(desktop) {
      margin: 20px;
    }
  }

  &__card-img {
    width: 100%;
  }

  &__card-text-wrapper {
    position: absolute;
    top: 60%;
    color: $white;
    margin: 10px;

    @include view(tablet) {
      top: 50%;
    }
  }

  &__card-heading {
    font-weight: bold;
    font-size: 20px;

    @include view(desktop) {
      font-size: 30px;
    }
  }

  &__card-text {
    font-size: 14px;
    margin-bottom: 20px;

    @include view(desktop) {
      font-size: 20px;
    }
  }

  &__card-linK {
    background-color: $grey;
    color: $black;
    padding: 10px 20px;
    border-radius: 125px;
    font-size: 14px;
    font-weight: bold;

    &:hover {
      background-color: lighten($color: $grey, $amount: 20);
    }

    @include view(desktop) {
      font-size: 20px;
    }
  }
}
