.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 15px;
  background-color: $bgc-grey;

  @include view(desktop) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__text {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }

  &__email-input {
    background-color: $white;
    border-radius: 16px;
    padding: 5px 10px;
    margin: 20px 0;

    @include view(tablet) {
      width: 400px;
    }

    @include view(desktop) {
      margin-left: 20px;
      margin-right: 20px;
    }

    &::placeholder {
      color: $grey;
    }
  }

  &__submit {
    background-color: $black;
    color: $bgc-grey;
    text-align: center;
    padding: 10px;
    border-radius: 16px;
    width: 150px;
    border: none;

    &:hover {
      cursor: pointer;
      background-color: lighten($color: $black, $amount: 20);
    }
  }

  &__input-wrapper {
    display: inline-block;
    position: relative;
  }

  &__error {
    position: absolute;
    color: $red;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
  }

  &__message {
    position: absolute;
    color: green;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
  }
}
