.card {
  width: 150px;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  position: relative;

  @include view(tablet) {
    width: 200px;
  }

  @include view(desktop) {
    width: 300px;
  }

  &__new-product-label {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #fff;
    color: #000;
    z-index: 10;
    padding: 2px 4px;
  }

  &__img-wrapper {
    width: 100%;
    height: 270px;
    overflow: hidden;
    position: relative;

    @include view(desktop) {
      height: 400px;
      margin-bottom: 20px;
    }

    &:hover {
      .card__img--main {
        z-index: 4;
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }

  &__h2 {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
  }

  &__prices {
    display: flex;
    gap: 20px;
  }

  &__price {
    font-size: 18px;

    &--old {
      color: #888;
      text-decoration: line-through;
    }
  }
}
