.header {
  &__top-banner {
    background-color: $black;
    padding: 10px;
    color: $white;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
  }

  &__header-bar-wrapper {
    @include container;
  }

  &__header-bar {
    padding: 10px 0;
  }

  &__header-bar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-wrapper {
    flex-grow: 2;
    text-align: center;
    font-size: 24px;

    @include view(small-desktop) {
      flex-grow: 0;
    }
  }

  &__bag-icon {
    width: 20px;
  }

  &__show-nav-btn {
    display: none;

    &--active {
      display: block;

      @include view(small-desktop) {
        display: none;
      }
    }
  }

  &__hide-nav-btn {
    display: none;

    &--active {
      display: block;
    }
  }

  &__desktop-nav {
    display: none;

    @include view(small-desktop) {
      display: block;
    }
  }

  &__desktop-nav-links-list {
    display: flex;
    column-gap: 20px;
  }

  &__desktop-nav-link {
    font-size: 20px;

    &:hover {
      color: $orange;
    }
  }

  &__mobile-nav {
    position: absolute;
    top: 100px;
    left: 0;
    background-color: $grey;
    width: 100%;
    height: 90vh;
    transform: translateX(-100%);
    transition: 0.3s transform ease-in-out;

    &--active {
      transform: translateX(0);
    }

    @include view(small-desktop) {
      display: none;
    }
  }

  &__mobile-nav-links-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    padding-top: 100px;
  }

  &__mobile-nav-link {
    padding-bottom: 10px;
  }
}
