.footer {
  display: flex;
  flex-direction: column;
  background-color: $black;
  color: $white;
  padding: 40px 15px;

  &__top {
    @include view(tablet) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    @include view(tablet) {
      width: 40%;
      margin-right: 50px;
    }

    @include view(desktop) {
      width: 22%;
      margin-right: 25px;
    }
  }

  &__h2 {
    font-weight: 500;
    font-size: 18px;
  }

  &__span {
    color: $grey;
    font-size: 14px;

    &:hover {
      color: $white;
      cursor: pointer;
    }
  }

  &__p {
    color: $grey;
    font-size: 14px;
  }

  &__left {
    display: flex;
    justify-content: center;
    align-items: center;

    @include view(desktop) {
      margin-left: 100px;
      margin-right: 50px;
    }
  }

  &__logo {
    color: $orange;
    margin-right: 10px;
    font-weight: 800;
  }

  &__image {
    margin-bottom: 20px;

    @include view(desktop) {
      width: 50%;
    }
  }

  &__bottom {
    @include view(desktop) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
    }
  }
}
